.div-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.div-contents .div-requirements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--basewhite);
  border-radius: 16px;
  border: 1px solid;
  border-color: var(--neutral-500);
}

.div-contents .div-copy {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
  width: 100%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.div-contents .element-potentok {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-l-regular-font-family);
  font-weight: var(--text-l-regular-font-weight);
  color: var(--gray-700);
  font-size: var(--text-l-regular-font-size);
  letter-spacing: var(--text-l-regular-letter-spacing);
  line-height: var(--text-l-regular-line-height);
  font-style: var(--text-l-regular-font-style);
}

.div-contents .text-wrapper {
  letter-spacing: var(--text-l-regular-letter-spacing);
  font-family: var(--text-l-regular-font-family);
  font-style: var(--text-l-regular-font-style);
  font-weight: var(--text-l-regular-font-weight);
  line-height: var(--text-l-regular-line-height);
  font-size: var(--text-l-regular-font-size);
}

.div-contents .span {
  letter-spacing: var(--text-l-regular-letter-spacing);
  text-decoration: underline;
  font-family: var(--text-l-regular-font-family);
  font-style: var(--text-l-regular-font-style);
  font-weight: var(--text-l-regular-font-weight);
  line-height: var(--text-l-regular-line-height);
  font-size: var(--text-l-regular-font-size);
}

.div-contents .div-title {
  display: inline-flex;
  gap: 8px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.div-contents .div {
  font-size: var(--headline-XXS-desktop-bold-font-size);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--headline-XXS-desktop-bold-font-family);
  font-weight: var(--headline-XXS-desktop-bold-font-weight);
  color: var(--gray-700);
  letter-spacing: var(--headline-XXS-desktop-bold-letter-spacing);
  line-height: var(--headline-XXS-desktop-bold-line-height);
  /* white-space: nowrap; */
  font-style: var(--headline-XXS-desktop-bold-font-style);
}

.div-contents .text-wrapper-2 {
  font-size: 18px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: 'Pretendard-Bold', Helvetica;
  font-weight: 700;
  color: var(--gray-700);
  letter-spacing: 0;
  line-height: 28px;
  /* white-space: nowrap; */
}

.div-contents .https-potentok-com {
  position: relative;
  align-self: stretch;
  font-family: 'Pretendard-Regular', Helvetica;
  font-weight: 400;
  color: #272d37;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 24px;
}

.div-contents .text-wrapper-3 {
  letter-spacing: -0.02px;
  text-decoration: underline;
}

.div-contents .p {
  position: relative;
  align-self: stretch;
  font-family: var(--text-l-regular-font-family);
  font-weight: var(--text-l-regular-font-weight);
  color: var(--gray-700);
  font-size: var(--text-l-regular-font-size);
  letter-spacing: var(--text-l-regular-letter-spacing);
  line-height: var(--text-l-regular-line-height);
  font-style: var(--text-l-regular-font-style);
}
