@function isDarkMode() {
  @return false;
}

@import '@metronic/assets/sass/core/components/variables';

@mixin card-table-header {
  border-bottom: 1px solid $gray-200 !important;
  padding: $table-cell-padding-y $table-cell-padding-x;
  position: sticky;
  z-index: 4;
  top: 120px;
  background-color: $white;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-table {
  border: 1px solid #eee !important;
  border-radius: 10px !important;
  overflow: hidden;

  // box-shadow: $box-shadow-lg;
  .card-table-header {
    @include card-table-header;
  }

  .card-body {
    padding: 0 $table-cell-padding-y $table-cell-padding-x !important;
  }

  .table tbody tr:nth-child(even) {
    background: $gray-100;
  }
  .table thead tr th {
    &:first-child {
      border-top-left-radius: 0.5rem;
    }
    &:last-child {
      border-top-right-radius: 0.5rem;
    }
  }
}

.card-table-bordered {
  border: 1px solid #eee !important;
  border-radius: 10px !important;
  overflow: hidden;

  .card-table-header {
    @include card-table-header;
  }

  .card-body {
    padding: 0 $table-cell-padding-y $table-cell-padding-x !important;
  }

  .table tbody tr {
    border-bottom: 1px solid $gray-200;
  }

  .table thead tr th {
    &:first-child {
      border-top-left-radius: 0.5rem;
    }
    &:last-child {
      border-top-right-radius: 0.5rem;
    }
  }
}

.table-responsive::-webkit-scrollbar {
  -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
  width: 10px !important;
}

.table-responsive::-webkit-scrollbar:horizontal {
  height: 10px !important;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: rgb(106, 106, 106) !important;
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-track {
  border-radius: 10px;
}

.table-icon {
  width: 27.5px !important;
  height: 27.5px !important;
  border-radius: 10px !important;
}
