:root {
  --gray-700: rgba(39, 45, 55, 1);
  --neutral-500: rgba(239, 239, 241, 1);
  --neutral-600: rgba(234, 235, 240, 1);
  --basewhite: rgba(255, 255, 255, 1);
  --text-l-regular-font-family: "Pretendard", Helvetica;
  --text-l-regular-font-weight: 400;
  --text-l-regular-font-size: 16px;
  --text-l-regular-letter-spacing: -0.10000000149011612px;
  --text-l-regular-line-height: 24px;
  --text-l-regular-font-style: normal;
  --headline-XXS-desktop-bold-font-family: "Pretendard", Helvetica;
  --headline-XXS-desktop-bold-font-weight: 700;
  --headline-XXS-desktop-bold-font-size: 20px;
  --headline-XXS-desktop-bold-letter-spacing: 0px;
  --headline-XXS-desktop-bold-line-height: 28px;
  --headline-XXS-desktop-bold-font-style: normal;
  --text-m-medium-font-family: "Pretendard", Helvetica;
  --text-m-medium-font-weight: 500;
  --text-m-medium-font-size: 15px;
  --text-m-medium-letter-spacing: -0.10000000149011612px;
  --text-m-medium-line-height: 22px;
  --text-m-medium-font-style: normal;
  --text-m-regular-font-family: "Pretendard", Helvetica;
  --text-m-regular-font-weight: 400;
  --text-m-regular-font-size: 15px;
  --text-m-regular-letter-spacing: -0.10000000149011612px;
  --text-m-regular-line-height: 22px;
  --text-m-regular-font-style: normal;
}
