.Toastify__toast-theme--light {
  color: #000 !important;
  font-size: 9pt !important;
  font-weight: 600;
  background: rgba(245, 245, 245, 0.85) !important;
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -o-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.Toastify__toast {
  border-radius: 0.5rem;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 15%), 0 5px 30px 0 rgb(0 0 0 / 0%);
}
.Toastify__progress-bar {
  height: 3px;
}
.Toastify__close-button--light {
  opacity: 0.75;
}
.Toastify__toast-body > div:last-child {
  max-height: 70px;
  overflow: auto;
}
